<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users list</title>
</head>
<body>
<div th:if="${not #lists.isEmpty(listUsers)}">
    <h1>Users List</h1>
    <table border="1" width="100%">
        <tr>
            <th style="width: 3%" scope="col">ID</th>
            <th style="width: 15%" scope="col">First Name</th>
            <th style="width: 15%" scope="col">Last Name</th>
            <th style="width: 3%" scope="col">Age</th>
            <th style="width: 15%" scope="col">Email</th>
            <th style="width: 10%" scope="col">Username</th>
            <th style="width: 16%" scope="col">Password</th>
            <th style="width: 8%" scope="col">Roles</th>
            <th style="width: 5%" scope="col">Edit</th>
            <th style="width: 10%" scope="col">Delete</th>
        </tr>
        <tr th:each="user : ${listUsers}">
            <td th:text="${user.id}" style="text-align: center"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.age}" style="text-align: center"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.roles}"></td>
            <td style="text-align: center;"><a th:href="@{/admin/edit/{id}(id=${user.id})}">Edit</a></td>
            <td style="text-align: center;"><a th:href="@{/admin/remove/{id}(id=${user.id})}">Delete</a></td>
        </tr>
    </table>
</div>
<div th:if="${#lists.isEmpty(listUsers)}">
    <p>There are no users to display.</p>
</div>
<h1>Add a User</h1>
<form th:action="@{/admin/add}" th:object="${user}" th:method="post">
    <table>
        <tr>
            <td><label for="firstName">First Name:</label></td>
            <td><input type="text" id="firstName" th:field="*{firstName}"/></td>
            <td><div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName error</div></td>
        </tr>
        <tr>
            <td><label for="lastName">Last Name:</label></td>
            <td><input type="text" id="lastName" th:field="*{lastName}"/></td>
            <td><div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName error</div></td>
        </tr>
        <tr>
            <td><label for="age">Age:</label></td>
            <td><input type="number" min="-2147483648" max="2147483647" id="age" th:field="*{age}"/></td>
            <td><div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</div></td>
        </tr>
        <tr>
            <td><label for="email">Email:</label></td>
            <td><input type="text" id="email" th:field="*{email}"/></td>
            <td><div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</div></td>
        </tr>
        <tr>
            <td><label for="username">Username:</label></td>
            <td><input type="text" id="username" th:field="*{username}"/></td>
            <td><div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username error</div></td>
        </tr>
        <tr>
            <td><label for="password">Password:</label></td>
            <td><input type="password" id="password" th:field="*{password}"/></td>
            <td><div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</div></td>
        </tr>
        <tr>
            <td><label for="roles">Roles:</label></td>
            <td>
                <input type="checkbox" id="roles" name="roles" value="1">
                <label for="roles1">ADMIN</label>
                <input type="checkbox" id="roles1" name="roles" value="2">
                <label for="roles">USER</label>
            </td>
            <td><div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">roles error</div></td>
        </tr>
        <tr>
            <td >
                <button type="submit" th:text="'Add User'">Add User</button>
            </td>
        </tr>
    </table>
</form>
<br>
<form th:action="@{/logout}">
    <button type="submit">Exit</button>
</form>
</body>
</html>
