<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
</head>
<body>
    <h1 th:text="${user.username + ', welcome spring boot security page!'}"></h1>
    <table border="1" width="100%">
        <tr>
            <th style="width: 3%" scope="col">ID</th>
            <th style="width: 20%" scope="col">First Name</th>
            <th style="width: 20%" scope="col">Last Name</th>
            <th style="width: 3%" scope="col">Age</th>
            <th style="width: 15%" scope="col">Email</th>
            <th style="width: 15%" scope="col">Username</th>
            <th style="width: 16%" scope="col">Password</th>
            <th style="width: 8%" scope="col">Roles</th>
        </tr>
        <tr>
            <td th:text="${user.id}" style="text-align: center"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.age}" style="text-align: center"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.roles}"></td>
        </tr>
    </table>
    <br>
    <form th:action="@{/logout}">
        <button type="submit">Exit</button>
    </form>
</body>
</html>